:host {
  margin-right: 5px;
  height: 100%;
}

.input-trigger {
  display: flex;
  font-size: 1rem;
  justify-content: center;
  align-self: baseline;
  cursor: pointer;
  background-color: rgba(0, 0, 0, 0.04);
  padding: 0.75em;
  padding-bottom: 1em;
}

.angle-down {
  margin-left: 5px;
}

.traveller-input-overlay {
  padding: 10px;
  box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.2);
}
