<div class="inputs-container">
  <app-location-input
    [airports]="supportedAirports"
    label="From"
    [control]="searchFormGroup.controls['origin']"
  ></app-location-input>
  <div class="swap-icon">
    <fa-icon [icon]="faArrowRightArrowLeft" (click)="onSwap()"></fa-icon>
  </div>
  <app-location-input
    [airports]="supportedAirports"
    label="To"
    [control]="searchFormGroup.controls['destination']"
  ></app-location-input>
  <app-date-input
    [control]="searchFormGroup.controls['departureDate']"
    label="Departure Date"
  ></app-date-input>
  <app-date-input
    [control]="searchFormGroup.controls['returnDate']"
    [minDate]="searchFormGroup.controls['departureDate'].value"
    label="Return Date"
  ></app-date-input>
  <app-traveller-input
    [control]="searchFormGroup.controls['travellersCount']"
  ></app-traveller-input>
  <app-traveller-class-input
    [control]="searchFormGroup.controls['travellerClass']"
  ></app-traveller-class-input>
  <div class="search-button">
    <button
      mat-raised-button
      color="primary"
      (click)="onSearch()"
      [disabled]="!searchFormGroup.valid"
    >
      <fa-icon [icon]="faSearch"></fa-icon>
      Search
    </button>
  </div>
</div>
