<div class="origin-destination">
  <app-location-input
    [airports]="supportedAirports"
    label="From"
    [control]="searchFormGroup.controls['origin']"
  ></app-location-input>
  <div class="swap-icon">
    <fa-icon [icon]="faArrowRightArrowLeft" (click)="onSwap()"></fa-icon>
  </div>
  <app-location-input
    [airports]="supportedAirports"
    label="To"
    [control]="searchFormGroup.controls['destination']"
  ></app-location-input>
  <app-date-input
    [control]="searchFormGroup.controls['departureDate']"
    label="Departure Date"
  ></app-date-input>
  <app-date-input
    [control]="searchFormGroup.controls['returnDate']"
    [minDate]="searchFormGroup.controls['departureDate'].value"
    label="Return Date"
  ></app-date-input>
</div>
<app-traveller-input></app-traveller-input>
