<ng-container *ngIf="!!flightOffer && !!amadeusDictionaries">
  <ng-container *ngIf="flightOffer.itineraries[0] as itinerary">
    <ng-container
      *ngIf="itinerary.duration | parseAmadeusFlightDuration as duration"
    >
      <p class="total-duration">
        Total Duration: {{ duration.hours }} hrs {{ duration.minutes }} mins
      </p>
    </ng-container>
    <div class="itinerary-summary">
      <div class="segments-container">
        <div
          class="segment-summary"
          *ngFor="let segment of itinerary.segments; let isLast = last"
        >
          <div class="airline-container">
            <img
              class="airline-logo"
              src="/api/airline-details/{{ segment.carrierCode }}/logo"
            />
            <div class="airline-details">
              <div class="airline-name">
                {{ amadeusDictionaries.carriers[segment.carrierCode] }}
              </div>
              <div class="airline-code">({{ segment.carrierCode }})</div>
            </div>
          </div>
          <div class="segment-details">
            <div>
              <div class="arrival-time">
                {{ segment.departure.at | date: 'HH:mm' }}
              </div>
              <div class="airport-details">
                <div class="airport-code">
                  {{ segment.departure.iataCode }}
                </div>
                <div
                  class="airport-terminal"
                  *ngIf="segment.departure.terminal"
                >
                  Terminal {{ segment.departure.terminal }}
                </div>
              </div>
              <div class="arrival-date">
                {{ segment.departure.at | date: 'E, dd-MMM-YYYY' }}
              </div>
            </div>
            <ng-container
              *ngIf="
                segment.duration | parseAmadeusFlightDuration as segmentDuration
              "
            >
              <div class="segment-duration">
                {{ segmentDuration.hours }} hrs
                {{ segmentDuration.minutes }} mins
              </div>
            </ng-container>
            <div>
              <div class="arrival-time">
                {{ segment.arrival.at | date: 'HH:mm' }}
              </div>
              <div class="airport-details">
                <div class="airport-code">
                  {{ segment.arrival.iataCode }}
                </div>
                <div class="airport-terminal" *ngIf="segment.arrival.terminal">
                  Terminal {{ segment.arrival.terminal }}
                </div>
              </div>
              <div class="arrival-date">
                {{ segment.arrival.at | date: 'E, dd-MMM-YYYY' }}
              </div>
            </div>
          </div>
          <mat-divider *ngIf="!isLast"></mat-divider>
        </div>
      </div>
      <div class="price-details">
        {{ flightOffer.price.currency }} {{ flightOffer.price.grandTotal }}
      </div>
    </div>
  </ng-container>
</ng-container>
