@use '@angular/material' as mat;

.inputs-container {
  height: 60px;
  width: fit-content;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  justify-items: center;

  .swap-icon {
    cursor: pointer;
    font-size: 1.5rem;
    color: #ffffff;
    background-color: mat.get-color-from-palette(mat.$indigo-palette, 500);
    border-radius: 50%;
    padding: 5px;
    margin-right: 5px;
  }
}

.search-button {
  display: flex;
  align-items: center;
  justify-content: center;
}
